/* dator_style.css for style in data_order.html */

/* Navbar setting */
nav.navbar-expand-lg{
    position: sticky;
    top: 0;
	z-index: 1;
}


/* background */

.main-bg {
  background-image: url(https://r4.wallpaperflare.com/wallpaper/644/305/118/pattern-black-gradient-texture-wallpaper-1be65c2d03e1bf994574abb9dd4c6c70.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 800px;
  background-attachment: fixed;
}

[data-bs-theme="dark"] {
    color-scheme: dark;
}

/* Welcome Text */

h1.welcome-text {
    text-align: center;
    color: white;
}

p.main-order {
    color: black;
    text-align: center;
    background-color: white;
    border-radius: 20px;
	margin-top: 20px;
	padding: 10px 15px 10px 15px;
}

tbody {
    color: white;
}